<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediMate智能聊天夥伴</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="icon" href="image/Logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/main14.css">
</head>

<body>
    <header>
        <div class="tiele">
            <img src="image/Logo.png" alt="MediMate Logo" class="logo">
            <span class="brand-name">
                MediMate智能聊天夥伴
            </span>
        </div>
    </header>
    <script type="module" src="js/vrm.js"></script>
    <div id="voiceOnput">
         <%= userName %>您好，歡迎使用智能聊天小夥伴 ! 
    </div>
    <div id="token" style="display: none;"><%= token %></div>
    <script>
        localStorage.setItem('token', document.getElementById("token").innerHTML);
    </script>
    <button id="voiceButton">
        <img src="image/microphone.png" alt="Microphone" style="width: 60%; height: auto;">
    </button>
    <div id="dealWith">
        <div class="spinner-border text-success vh" role="status" style="vertical-align: middle;">
        </div>
        <span class="vh" style="vertical-align: middle;">處理中，請稍後...</span>
    </div>
    <div class="actions" id="actions">
        <div id="voiceInput">請開始說話</div>
        <button class="stop-button" id="stopButton">結束錄音</button>
    </div>
</body>
<script src="js/main15.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>