.word {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #e68e37;
  color: #fff;
  width: 100px;
  height: 3vh;
  border-radius: 1.5rem;
  background: linear-gradient(to right, #108dc7, #ef8e38); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  letter-spacing: 0.2rem;
}

.word:hover{
  background-color: #b05c08;
}
@media (hover: none) {
  .word:active,
  .word:focus {
    background-color: #b05c08;
  }
}

.modalWrap {
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.38);
  font-size: 20px;
  z-index: 1;
}

.bannerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 2%;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.avatarImg {
  width: 300px;
  height: 520px;
  margin: 10px 0;
  border-radius: 0.8rem;
}

.avatarName {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  border-radius: 1rem;
  padding: 0 1vw;
  color: black;
  background: #fff;
}

.avatarIcon {
  height: 25px;
  width: 25px;
  border-radius: 1rem;
  border: 1px solid #987e7e;
}

.bannerBox:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out;
}

@media (hover: none) {
  .bannerBox:active,
  .bannerBox:focus {
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out;
  }
}

.rowBox {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.selectBtn {
  display: flex;
  align-items: center;
  background: #b7b73c;
  margin: 0.5vh 0;
  border-radius: 1.5rem;
  background: linear-gradient(to right, #ff9966, #ff5e62);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0.5vh 3vw;
}

.closeIcon {
  cursor: pointer;
  position: fixed;
  z-index: 5;
  left: 90%;
  bottom: 90%;
}

.iconSize {
  width: 1.5rem;
  height: 1.5rem;
  color: #e68e37;
}

.iconSize:hover{
  color: #b05c08;
}

@media (hover: none) {
  .iconSize:active,
  .iconSize:focus {
    color: #b05c08;
  }
}


@media screen and (min-width: 300px) and (max-width: 400px){ 
  .word {
    font-size: 12px;
  }
  .bannerBox {
    padding: 10px;
    width: 150px;
  }
  .rowBox {
    gap: 10px;
  }
  .avatarIcon{
    width: 20px;
    height: 20px;
  }
  .iconSize {
    width: 30px;
    height: 30px;
  }
  .avatarName {
    font-size: 10px;
  }
  .avatarImg {
    width: 200px;
    height: 250px;
    margin: 10px 0;
  }
}

@media screen and (min-width: 401px) and (max-width: 599px){ 
  .word {
    font-size: 12px;
  }
  .bannerBox {
    width: 35vw;
  }
  .avatarIcon{
    width: 30px;
    height: 30px;
  }
  .avatarName {
    font-size: 15px;
  }
  .avatarImg {
    width: 300px;
    height: 250px;
    margin: 10px 0;
  }
}

@media screen and (min-width: 600px) and (max-width: 799px){ 
  .word {
    width: 150px;
    height: 4vh;
    font-size: 18px;
  }
  .bannerBox {
    width: 35vw;
  }
  .avatarIcon{
    width: 30px;
    height: 30px;
  }
  .iconSize {
    width: 30px;
    height: 30px;
  }
  .avatarName {
    font-size: 18px;
  }
  .avatarImg {
    width: 550px;
    height: 400px;
    margin: 10px 0;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px){ 
  .word {
    width: 200px;
    height: 4vh;
    font-size: 24px;
  }
  .bannerBox {
    width: 30vw;
  }
  .iconSize {
    width: 50px;
    height: 50px;
  }
  .avatarIcon{
    width: 30px;
    height: 30px;
  }
  .avatarName {
    font-size: 18px;
  }
  .avatarImg {
    width: 500px;
    height: 400px;
    margin: 10px 0;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px){ 
  .word {
    width: 200px;
    height: 4vh;
    font-size: 25px;
  }
  .bannerBox {
    width: 30vw;
  }
  .iconSize {
    width: 50px;
    height: 50px;
  }
  .avatarIcon{
    width: 38px;
    height: 38px;
  }
  .avatarName {
    font-size: 22px;
  }
  .avatarImg {
    width: 500px;
    height: 500px;
    margin: 10px 0;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1499px){ 
  .word {
    width: 200px;
    height: 4vh;
    font-size: 25px;
  }
  .iconSize {
    width: 50px;
    height: 50px;
  }
  .bannerBox {
    width: 25vw;
  }
  .avatarIcon{
    width: 38px;
    height: 38px;
  }
  .avatarName {
    font-size: 22px;
  }
  .avatarImg {
    width: 500px;
    height: 500px;
    margin: 10px 0;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1850px){ 
  .word {
    width: 230px;
    height: 5vh;
    font-size: 28px;
  }
  .iconSize {
    width: 50px;
    height: 50px;
  }
  .bannerBox {
    width: 22vw;
  }
  .avatarIcon{
    width: 38px;
    height: 38px;
  }
  .avatarName {
    font-size: 22px;
  }
  .avatarImg {
    width: 600px;
    height: 500px;
    margin: 10px 0;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1850px) and (max-width: 2499px){ 
  .word {
    width: 230px;
    height: 5vh;
    font-size: 28px;
  }
  .bannerBox {
    width: 16vw;
  }
  .iconSize {
    width: 50px;
    height: 50px;
  }
  .avatarIcon{
    width: 38px;
    height: 38px;
  }
  .avatarName {
    font-size: 25px;
  }
  .avatarImg {
    width: 500px;
    height: 450px;
    margin: 10px 0;
    border-radius: 8px;
  }
}

@media screen and (min-width: 2500px) and (max-width: 2800px){ 
  .word {
    width: 200px;
    height: 6vh;
    font-size: 25px;
  }
  .rowBox {
    width: 7vw;
  }
  .iconSize {
    width: 50px;
    height: 50px;
  }
  .bannerBox {
    width: 15vw;
  }
  .avatarIcon{
    width: 40px;
    height: 40px;
    border-radius: 2rem;
  }
  .avatarName {
    font-size: 25px;
  }
  .avatarImg {
    width: 15vw;
    height: 40vh;
    margin: 10px 0;
    border-radius: 8px;
  }
}