.popupPlace {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(44, 43, 43, 0.336);
  z-index: 20;
}

.popupContainer {
  position: relative;
  height: auto;
  width: 50vw;
  min-width: 230px;
  color: rgb(80, 83, 83);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.closeIcon {
  display: flex;
  text-align: end;
}

.iconSize {
  width: 1rem;
  height: 1rem;
}

.rowBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popupDiv {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px 20px;
  border-radius: 0.5rem;
}

.popupTitle {
  font-size: 16px;
  font-weight: 900;
  padding: 5px 0;
}

.popupContent {
  background-color: #e9e3e3;
  font-size: 12px;
  padding: 5px;
  height: 15vh;
  min-height: 100px;
  margin: 10px 0;
  resize: none;
  border-radius: 0.5rem;
  outline: none;
}

.popupBtnSubmit {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #dbbe5e, #ffaf03 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.popupBtnSubmit:active,
.popupBtnSubmit:focus {
  outline: none;
}

.popupBtnSubmit:hover {
  background-position: -20px -20px;
}

@media (hover: none) {
  .popupBtnSubmit:active,
  .popupBtnSubmit:focus {
    background-position: -20px -20px;
  }
}

.popupBtnSubmit:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

@media screen and (min-width: 300px) and (max-width: 400px){ 
  .popupTitle {
    font-size: 16px;
  }
  .popupContent {
    font-size: 14px;
  }
  .popupContainer {
    width: 20vw;
  }
}

@media screen and (min-width: 401px) and (max-width: 599px){ 
  .popupTitle {
    font-size: 20px;
  }
  
  .popupContent {
    font-size: 15px;
  }
  .iconSize {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 600px) and (max-width: 799px){ 
  .popupTitle {
    font-size: 22px;
  }
  
  .popupContent {
    font-size: 18px;
  }
  .iconSize {
    width: 30px;
    height: 30px;
  }
  .popupBtnSubmit {
    font-size: 18px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px){ 
  .popupTitle {
    font-size: 22px;
  }
  .popupContent {
    font-size: 18px;
  }
  .iconSize {
    width: 30px;
    height: 30px;
  }
  .popupBtnSubmit {
    font-size: 22px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px){ 
  .popupTitle {
    font-size: 24px;
  }
  
  .popupContent {
    font-size: 20px;
  }
  .iconSize {
    width: 50px;
    height: 50px;
  }
  .popupBtnSubmit {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1499px){ 
  .popupTitle {
    font-size: 24px;
  }
  
  .popupContent {
    font-size: 20px;
  }
  .iconSize {
    width: 35px;
    height: 35px;
  }
  .popupContainer {
    width: 35vw;
  }
  .popupBtnSubmit {
    font-size: 24px;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1850px){ 
  .popupTitle {
    font-size: 24px;
  }
  
  .popupContent {
    font-size: 20px;
  }
  .iconSize {
    width: 35px;
    height: 35px;
  }
  .popupContainer {
    width: 30vw;
  }
  .popupBtnSubmit {
    font-size: 24px;
  }
}

@media screen and (min-width: 1850px) and (max-width: 2499px){ 
  .popupTitle {
    font-size: 28px;
  }
  
  .popupContent {
    font-size: 24px;
  }
  .iconSize {
    width: 35px;
    height: 35px;
  }
  .popupContainer {
    width: 30vw;
  }
  .popupBtnSubmit {
    font-size: 28px;
  }
}

@media screen and (min-width: 2500px) and (max-width: 2800px){ 
  .popupTitle {
    font-size: 28px;
  }
  
  .popupContent {
    font-size: 24px;
  }
  .iconSize {
    width: 35px;
    height: 35px;
  }
  .popupContainer {
    width: 30vw;
  }
  .popupBtnSubmit {
    font-size: 28px;
  }
}